{% extends "base.html" %}
 
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <form action="" method="post" novalidate style="margin-left: 10px; margin-top: 20px">
        {{ form.hidden_tag() }}
        <h1>Фильтрация по цене</h1>
        <p>
            {{ form.start_price.label }}<br>
            {{ form.start_price }}<br>
            {% for error in form.start_price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.end_price.label }}<br>
            {{ form.end_price }}<br>
            {% for error in form.end_price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="/index"> <button type="button" class="btn btn-outline-info">Назад</button></a>
    </form>
{% endblock %}